{% extends 'students/main.html' %}
{% load static %}
{% block content %}
<h3>Welcome to About Page</h3>
<p><h4> Our Mission </h4></p>
<p><h5>Our mission is to offer up-to-date educational information and appropriate carrier guidelines research in an integrated, innovative,supportive and engaging manner.</h5></p>
<p><h3>Who is this website for</h3></p>
<p><h5>College Buddiesss is  Ireland’s leading Career Guidance website and as such provides a service to a broad audience base, across all sectors of the economy and age profiles. </h5></p>
<p>2nd Level Students</p>
<p>undergraduates students</p>
<p>3rd Level Students and graduate</p>
<p>Adult Learners</p>
<p>Parents and Guardians</p>
<p>Career Guidance Professionals and Teachers</p>

<p>College Buddiesss is developed with the aim of providing a central educational and careers guidance portal for Ireland, a “One Stop Shop” for all those needing or providing guidance to help student to chode thier educational journey wisely. The site and resources are supported by Government Departments and leading Public and Private Organisations.There are people who have started their own eduacational and Career path on this site or through our associated guidance programmes and become a successful professional using this site to undertake career and educational research. </p>
{% endblock content %}