{% extends 'students/main.html' %}
{% load static %}
{% block content %}
<h3><center>Services We do offer</center></h3>
<p><h4><a  href="{%url 'helps' %}" >Knowing Yourself</h4></p></a>
<p><h4><a  href="{%url 'helps' %}" >Student Support</h4></p>
<p><h4><a  href="{%url 'helps' %}" >Going To College</h4></p>
<p><h4><a  href="{%url 'helps' %}" >Personality & Life skills</h4></p>
<p><h4><a  href="{%url 'helps' %}" >Education Option</h4></p>
<p><h4><a  href="{%url 'helps' %}" >Career Values</h4></p>
<p><h4><a  href="{%url 'helps' %}" >Getting Professional Advice</h4></p>
{% endblock content %}